# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
dist
*~
*#
.DS_STORE
.netbeans
.vscode
nbproject
.idea
.node_history
*.log
.vercel
package-lock.json

# dependencies
node_modules

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vscode
/.vscode/
cypress/videos/
cypress/screenshots/
storybook-server/
